html{
	height: 100%;
	background-color: white;
}

body{
	font-family: 'Exo 2', sans-serif;
}

nav{
	font-family: 'Exo 2', sans-serif;
	max-height: 4rem;
	font-size: 1.25rem;
	font-weight: 700;
	background-color: #7bf870;
}

.myjumbotron{
	font-family: 'Exo 2', sans-serif;
	background-color: #7bf870;
	height: 20rem;
}

.highlight h1{
	font-size: 4rem;
	font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: 'Exo 2', sans-serif;
}

.highlight p{
	font-size: 1rem;
    font-family: 'Cambria', sans-serif;
}

#jumbocontents{
	padding-top: 4rem;
}

.whotrashman{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.who{
	color: #7bf870;
	font-size: 1.5rem;
}

.trashman{
	color: black;
	font-size: 2.5rem;
}

.enddd{
	background-image: url("../IMAGES/end.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    margin-top: 160px;
    font-size: 2rem;
}

.footer{
    font-family: 'Exo 2', sans-serif;
	background-color: #35b729;
	font-size: 2rem;
	font-weight: 700;
	height: 11rem;
}

.vvklogo{
	height: 5rem;
}

.mech{
	font-size: 1.5rem;
	font-weight: 400;
}

.gallery{
	 font-family: 'Exo 2', sans-serif;
}

.imggallery{
	width: 100%;
}

.card{
	margin-bottom: 30px;
}

.abouttm{
	 font-family: 'Exo 2', sans-serif;
}

.highlightgrp{
	position: absolute;
	top: 270px;
	transition-duration: 2s;
}


@media screen and (max-width: 520px){
	.enddd{
	margin-top: 50px;
	background-size: auto;
	background-position: 60% 60%;
	overflow: hidden;
	height: 300px;
	}

	.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7rem;
    margin-top: 5px;
	}

	.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .footercontents{
  	height: inherit;
  	text-align: center;
  	color: white;
  	height: 300px;
  }

  .footer{
  	height: 15rem;
  }

  .jumboexpand{
  	padding-top: 8rem;
  	height: 28rem;
  }
}

@media screen and (max-width: 800px){
	.enddd{
	margin-top: 50px;
	background-size: auto;
	background-position: 60% 60%;
	overflow: hidden;
	height: 300px;
	}

	.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7rem;
    margin-top: 5px;
	}

	.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .footercontents{
  	height: inherit;
  	text-align: center;
  	color: white;
  	height: 300px;
  }

  .footer{
  	height: 12rem;
  }

  .jumboexpand{
  	padding-top: 8rem;
  	height: 28rem;
  }
}
