html{
	height: 100%;
	background-color: white;
}

body{
	font-family: 'Exo 2', sans-serif;
}

nav{
font-family: 'Exo 2', sans-serif;
max-height: 4rem;
font-size: 1.25rem;
font-weight: 700;
}

.frontbg{
	background-image: url("../IMAGES/banner-bg1.jpg");
	width: 100%;
	height: 800px;
	border-radius: 0 0 50% 50% / 4%;
}

.empty{
	height: 64px;
}

.highlightgrp{
	position: absolute;
	top: 270px;
	transition-duration: 2s;
}

.highlight{
	font-weight: 300;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: 'Exo 2', sans-serif;
}

.paralight{
	font-size: 20px;
    font-family: 'Cambria', sans-serif;

}

.btn{
    font-family: 'Exo 2', sans-serif;
    margin: 0px 5px;
}

.buttonbg{
	background-color: #35b729;
	color: white;
}

.phonelogo{
	width: 220px;
}

.whytrashman{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 70px;
}

.why{
	color: #7bf870;
	font-size: 1.5rem;
}

.trashman{
	color: black;
	font-size: 2.5rem;
}

.icons{
	width: 100px;
}

.iconhead{
    font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size : 20px;
}

.small{
    font-family: 'Cambria', sans-serif;
}

.secondbg{
	background-image: url("../IMAGES/curved-bgg1.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	margin-top: 100px;
}

.empty1{
	height: 300px;
}

.trashmanworking{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.workingimg{
	width: 300px;
}

.workingdetail{
    font-family: 'Exo 2', sans-serif;

}

.workingheading{
	color: #7bf870;
	font-size: 2rem;
}

.workingdescription{
	color: black;
	font-size: 1rem;
}

.comments{
	padding-top: 35px;
}

.enddd{
	background-image: url("../IMAGES/end.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    margin-top: 160px;
    font-size: 2rem;
}

.footer{
    font-family: 'Exo 2', sans-serif;
	background-color: #35b729;
	font-size: 2rem;
	font-weight: 700;
	height: 11rem;
}

.vvklogo{
	height: 5rem;
}

.mech{
	font-size: 1.5rem;
	font-weight: 400;
}

@media screen and (max-width: 520px){
	.whytrashman{
		margin-top: 6rem;
	}

	.highlight{
		text-align: center;
		font-size: 40px;
    	letter-spacing: 2px;
    	line-height: 1;
    	margin-top: 3px;
	}
	.paralight{
		text-align: center;
	}
	.buttonss{
		text-align: center;
	}
	.empty{
		display: none;
	}

	.enddd{
	margin-top: 50px;
	background-size: auto;
	background-position: 60% 60%;
	overflow: hidden;
	height: 300px;
	}

	.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7rem;
    margin-top: 5px;
	}

	.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .footercontents{
  	height: inherit;
  	text-align: center;
  	color: white;
  	height: 300px;
  }

  .footer{
  	height: 15rem;
  }

  .fallBack{
  	margin-top: 18rem;
  }

}

@media screen and (max-width: 800px){
	.whytrashman{
		margin-top: 6rem;
	}

	.highlight{
		text-align: center;
		font-size: 40px;
    	letter-spacing: 2px;
    	line-height: 1;
    	margin-top: 3px;
	}
	.paralight{
		text-align: center;
	}
	.buttonss{
		text-align: center;
	}
	.empty{
		display: none;
	}

	.enddd{
	margin-top: 50px;
	background-size: auto;
	background-position: 60% 60%;
	overflow: hidden;
	height: 300px;
	}

	.overheading{
	color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7rem;
    margin-top: 5px;
	}

	.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .footercontents{
  	height: inherit;
  	text-align: center;
  	color: white;
  	height: 300px;
  }

  .footer{
  	height: 12rem;
  }

}