th,td{
	padding: 1rem;
	font-family: 'Exo 2', sans-serif;
	border:2px solid black;

}

th{
	background-color: #35b729;
	color: white;
}

table{
	margin-top: 2rem;
	margin-bottom: 2rem;
	border:2px solid black;
}