nav{
font-family: 'Exo 2', sans-serif;
font-weight: 700;
}

#mainsite{
	font-family: 'Exo 2', sans-serif;
}

.covidwarning{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	height: 10rem;
}

.empty{
	height: 80px;
}

.brandname{
	color: #35b729;
}

#team{
	height: 18rem;
}

.headabttm{
	font-size: 3rem;
}

#abouttm{
	line-height: 2rem;
}

.new1 {
  border-top: 1px dashed #35b729;
}

.newschannel{
	font-size: 3rem;
}

.footer{
	background-color: #35b729;
	font-size: 2rem;
	font-weight: 700;
	height: 12rem;
}

.vvklogo{
	height: 5rem;
}

.mech{
	font-size: 1.5rem;
	font-weight: 400;
}